@import "../../styles.scss";

/* Apply general styling to form elements */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/a.jpg);
  background-size: cover;
}
.bform {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}
.form-group {
  margin-bottom: 20px;
  .fieldwrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
select,
input[type="date"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Apply error styling to invalid fields */
.text-danger {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Style the Submit button */
button.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover effect on the Submit button */
button.btn-primary:hover {
  background-color: #0056b3;
}

.field-wrap {
  display: flex;
}
