<div class="dcontainer">
  <div class="adminheader">
    <div class="leftside">
      <img src="../../assets/img/logo.png" alt="admin logo" />
      <h2>Songfum Retreat Dashboard</h2>
    </div>
    <div class="rightside">Logout</div>
  </div>
  <div class="firstcontainer">
    <!-- <div class="card">
      <i class="fa-cus fa-regular fa-eye" style="color: #ffffff"></i>
      <h2>TOTAL WEBSITE VISITS</h2>
      <h3 id="visits"></h3>
    </div> -->
    <div class="card">
      <i class="fa-cus fa-regular fa-eye" style="color: #ffffff"></i>
      <h2>TOTAL BOOKINGS</h2>
      <span><app-count-visitors></app-count-visitors> </span>
    </div>
    <div class="card">
      <i class="fa-cus fa-regular fa-eye" style="color: #ffffff"></i>
      <h2>CANCELLED BOOKINGS</h2>
    </div>
    <div class="card">
      <i class="fa-cus fa-regular fa-eye" style="color: #ffffff"></i>
      <h2>APPROVED BOOKINGS</h2>
    </div>
  </div>
</div>
<div class="tablecontainer">
  <app-userdata></app-userdata>
</div>
